<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SEPO"
        tools:targetApi="31">
        <activity
            android:name=".ui.exercise.DetailExerciseActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.consult.ReplyDoctorChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.consult.ShowDoctorChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.education.EducationActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.test.DemographicActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.CreateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.SelectProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.consult.LiveChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.test.PreTestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.test.PostTestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.authentication.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.authentication.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.list.ListUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splashscreen.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>